
/* 
.dropdown-button{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: fit-content;
} */


.nav-container{
  display: flex;
  justify-content: space-between;
  background-color: blueviolet;
  align-items: center;
}